{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Votre pseudo ou votre mot de passe est incorrect. Veuillez réesayer.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Votre compte ne possède pas d'accès au site Admin. Pour continuer, connecter vous avec un compte administateur.
      </div>
    {% else %}
      <p class="lead">Connectez-vous pour accéder à cette page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr class="mb-3">
        <td class="form-label">{{ form.username.label_tag }}</td>
        <td class="form-control">{{ form.username }}</td>
      </tr>
      <tr class="mb-3">
        <td class="form-label">{{ form.password.label_tag }}</td>
        <td class="form-control">{{ form.password }}</td>
      </tr>
    </table>
    <input class="btn btn-primary active-green" type="submit" value="Connection">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>

{% endblock %}


