{% extends "base_generic.html" %}

{% block content %}
 <!-- Add additional CSS in static file -->
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/styles.css' %}">
 <h1>Accueil de la bibliothèque locale</h1>
  <p>Bienvenue à la bibliothèque locale, un site web développé par <em>Mozilla Developer Network</em> en partenariat avec <em>Artichaut</em>!</p>
  <h2>Contenu dynamique</h2>
  <p>La bibliothèque dispose des enregistrements suivants:</p>
  <ul>
    <li><a href="{% url 'index' %}"><strong>Accueil</strong></a></li>
    <li><a href="{% url 'books' %}"><strong>Livres:</strong></a> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies disponibles:</strong> {{ num_instances_available }}</li>
    <li><a href="{% url 'authors' %}"><strong>Auteurs:</strong></a> {{ num_authors }}</li>
 </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
