.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
 
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

body {
  --text-color: #1b1b1b;
  --bkg-color: #fff;
  --head-color: #1b1b1b;
  --link-color: #20AA76;
  --nav-link: #20AA76;
  --nav-bg-color: #20AA76;
  --dropdown-color: #fff;
  --link-hover: #25c488; 
  --hr-color: #C1CAD2;
}
  
body.light-theme {
  --text-color: #1b1b1b;
  --bkg-color: #fff;
  --head-color: #1b1b1b;
  --link-color: #20AA76;
  --nav-link: #20AA76;
  --nav-bg-color: #20AA76;
  --dropdown-color: #fff;
  --link-hover: #25c488; 
  --hr-color: #C1CAD2;
}
body.dark-theme {
  --text-color: #dcdcdc;
  --bkg-color: #212529;
  --head-color: #fff;
  --link-color: #44878b;
  --nav-link: #44878b;
  --nav-bg-color: #28784d;
  --dropdown-color: #212529;
  --link-hover: #C9F0DD;
  --hr-color: #6c757d;
}

body, div, .list-group-item
{
  background: var(--bkg-color);
}

.dropdown-menu-theme {
  background: var(--dropdown-color);
  color: var(--head-color)
}

.dropdown-item-theme {
  background-color: var(--dropdown-color);
  color: var(--head-color);
}

.dropdown-item:hover .dropdown-item:focus {
  background-color: var(--link-color);
  color: var(--head-color);
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #20AA76;
}

.dropdown-item.active {
  background-color: #20AA76 !important;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 
{
  color: var(--head-color);
}

p, li, .list-group-item
{
  color: var(--text-color);
}

hr {
  color: var(--hr-color);
}

.card-link, a {
  color: var(--link-color);
}

.nav-link {
  color: var(--nav-link);
}

.nav-link:hover {
  color: var(--link-hover) !important;
}

a:hover {
  color: var(--link-hover);
}

.bg-green {
  background: var(--nav-bg-color);
  opacity: 1;
}

.text-reset-theme {
    color: var(--link-color) !important;
}

.alert-green {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #132f22;
}

.alert-green > p {
  color: #0f5132;
}

.alert-green > a > p{
  color: var(--link-color);
}

.active-green {
  background-color: #20AA76 !important;
  color: #fff;
}

